.navi-control {
    position: fixed;
    right: 0;
}

.btn-marker {
    background: url('./red_pin.png') no-repeat center / contain;
    width: 10px;
    height: 20px;
    border: none;
    position: absolute;
}
.btn-marker:focus {
    outline: transparent;
}

